p {
    font-size: 22px;
}

.quadradao {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.quadradao > img {
    width: 18rem;
    border-radius: 15rem;
    object-fit: cover;
    aspect-ratio: 1/1;
    box-shadow: 0px 0px 5px 5px var(--redShadow);
}

.quadrado {
    width: 60vw;
    background-color: var(--red);
    color: var(--white);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 10rem;
    padding: 25px;
    padding-left: 32px;
    border-radius: 4rem;
    gap: 10px;
}

.quadrado > a {
    color: var(--white);
    word-break: break-word;
    overflow-wrap: anywhere;
}