:root {
  --purple: rgba(232, 54, 255, 0.356);
  --purpleShadow: rgba(245, 181, 253, 0.514);
  --blue: rgba(54, 91, 255, 0.5);
  --blueShadow: rgba(161, 178, 255, 0.63);
  --yellow: rgba(255, 252, 54, 0.5);
  --yellowShadow: rgba(255, 253, 151, 0.623);
  --white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('/img/background.webp');
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 10px;
  box-shadow: 0px 2px 5px 5px var(--purpleShadow);
  background-color: var(--purple);
  cursor: pointer;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  padding-top: 8rem;
}

a {
  text-decoration: none;
  color: var(--white);
}

