:root {
  --purple: rgba(232, 54, 255, 0.7);
  --purpleShadow: rgba(245, 181, 253, 0.7);
  --blue: rgba(54, 91, 255, 0.7);
  --blueShadow: rgba(161, 178, 255, 0.7);
  --yellow: rgba(255, 252, 54, 0.7);
  --yellowShadow: rgba(255, 253, 151, 0.7);
  --red: rgba(255, 54, 138, 0.7);
  --redShadow: rgba(255, 116, 181, 0.7);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --gradient: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  --backgroundScroll: rgba(0, 0, 0, 0.582);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url('/img/background.webp');
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: var(--gradient);
}

body::-webkit-scrollbar-thumb {
  background: var(--backgroundScroll);
  border-radius: 5px;
}

header {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 10px;
  box-shadow: 0px 2px 5px 5px var(--purpleShadow);
  background-color: var(--purple);
}

header > img {
  cursor: pointer;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  padding-top: 8rem;
  width: 100%;
  padding-bottom: 6rem;
}

footer {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  bottom: 0;
  width: 100%;
  padding: 10px;
  box-shadow: 0px -2px 5px 5px var(--purpleShadow);
  background-color: var(--purple);

}

a {
  text-decoration: none;
  color: var(--white);
}

.icone {
  width: 30px;
}